@font-face {
    font-family: "Railway";
    src: url("/fonts/Raleway-Italic.ttf");
}

@font-face {
    font-family: "Elephant";
    src: url("/fonts/ELEPHNT.TTF");
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
 



/* With size of html set to 100% this means 1rem = 16px */
html {
    font-size: 100%; /* 16px */
    font-family: 'Open Sans', sans-serif!important;
}
h1 {
    font-family: "Railway";
    font-size: 1.5rem; /* 40px */
    font-weight: bold;

}



h1 img {
    display: block;
    max-width: 535px; /* was 70%; */ 
    min-width: 230px;
    width: auto;
    height: auto;  
}

h2 {
    font-family: "Railway";
    font-size: 1.5em; /* 24px */
    font-weight: bolder;
    letter-spacing: 0.1em;
}

h3 {
    font-family: "Railway";
    font-size: 1.2em; /* 19.2px */
    font-weight: bold;
}


.image-fit {
    max-width: 70%;
    max-height: 70%;
}

.expanding-box {
    display: block;
    max-height: 50px;
    max-width: 50px;
    width: auto;
    height: auto;
}

.image-box {
    width: auto;
    height: auto;
    padding-top: 0.2em;
}

.logo-bk {
    position: relative;
    overflow: hidden;
    background-image: url("/images/O&S-submark-logo-white.png");
    transform: rotate(90deg); 
    /* All browsers support */
    -moz-transform: rotate(90deg); 
    -webkit-transform: rotate(90deg); 
    -o-transform: rotate(90deg); 
    -ms-transform: rotate(90deg); 
}
.logo-bk::before {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    background: url"/images/O&S-submark-logo-white.png") 0 0 repeat;
    transform: rotate(30deg);
}

blockquote {
    font-style: italic;
    font-size: 0.8em;
    font-weight: 400;
    letter-spacing: 0.05em;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    padding-left: 15px;
    border-left: 3px solid #ccc;
}

#logos img {
    padding-top:1em;
    padding-bottom:1em;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center-it {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.kitchen {
    margin-top: 10%;
}

.iem {
    width: 220px;
}

.floated-left {
    float: left;
}

.floating-right {
    float: right;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
}

.flex-left {
    width: 60%;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.flex-right {
    width: 45%;
}

.flex-right img {
    padding-top: 0.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.submark-left {
    max-width: 10em;
    max-height: 10em;
    width: auto;
    height: auto;
    margin-right: 1em;
    margin-bottom: 1em;
}

.submark-right-small {
    float: right;
    max-width: 5em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.submark-left-small {
    float: left;
    max-width: 5em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.right {
    float: right;
    text-align: right;
    padding-right: 1.2em;
}

.smaller-list {
    font-size: 0.83em;
}
.fullsize {
    width: 100%;
    height: 300px
}

.submark-left-layout {
    font-size: 1.2em;
}
/* Our Team */
.parent {
    display: grid;
    grid-template-columns: 1fr;
}

.ourteam-titles {
    clear: both;
    display: grid;
    grid-template-columns: 1fr;
}

/* .column {
    flex: 0;
 }
*/
.main {
    padding: 0 20px;
} 

.sidebar {
    padding: 0 20px;
}


/* End Our Teeam */
.grid {
    display: grid;
    width:100%;
    grid-template-columns: 30% 70%;
}

.space-top {
    padding: 60px;
}
.top-grid {
    display: grid;
    width:100%;
    grid-template-columns: 50% 50%;
}
.grid-title {
    font-weight: bold;
    font-style: italic;
}

.two-column-align-right {
    text-align: right;
    padding-right: 1em;
}
.two-column-align-left {
    padding-left: 1em;
}

.two-column-align-center {
    text-align: center;
}

.two-column-padding-right {
    padding-right: 1em;
}

.white {
    color: rgb(255,255,255)
}
.black {
color: rgb(0,0,0)
}

.dark-grey {
    color: rgb(128, 126, 122);
}

.dark-grey-bk {
background-color: rgb(128, 126, 122);
}


.creamy-tan {
    color: rgb(239, 215, 206);
}

.creamy_tan-bk {
    background-color: rgb(239, 215, 206);
}

.salmon {
    color: rgb(206, 134, 128);
}

.raspberry {
    color: rgb(206, 134, 128);
}

.light-tan {
    color: rgb(231, 226, 220);
}

.light-tan-bk {
    background-color: rgb(231, 226, 220);
}

.tan {
    color: rgb(206, 199, 192);
}

.border-top {
    border-top: 0.5mm ridge rgb(206, 134, 128);
}

.border-right {
    border-right: solid 2px rgb(128, 126, 122);
}
.m-right {
    margin-right: 0.3em;
}

a.button {
    background-color:rgb(206, 134, 128);
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}

a.button-thin {
    background-color:rgb(206, 134, 128);
    color: white;
    text-decoration: none;
    padding: 0.1em;
}

.footer-logo {
    font-family: "Elephant";
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.photo-box img.truck { 
    width: 85%;
    max-height: 326px;
}
.copyright {
    font-weight: bold;
    font-size: 1.2em;
    margin-right: 0.5em;
}

.white-seperator {
    padding-top: 2.5em;
    display: block;
    height: 1px;
    width: 100%;
}

.more {
    cursor: pointer;
}

.more {
    font-size: 0.9em;
    font-style: italic;
    color: rgb(206, 134, 128); 
}

.centre {
    margin: auto;
    padding: 10px;
    padding-left: 30px;
}

.centre-image {
    margin: auto;
    display: block;
}

.w60 {
    width: 60%;
}

.w50 {
    width: 50%;
}

.w40 {
    width: 40%;
}

.card {
    box-shadow: 0px 1px 5px #555;
    transition: 0.3s;
    background-color: white;
}
.card__title {
    font-size: 1rem;
    padding: .5rem;
}
.card__description {
    padding: .5rem;
    line-height: 1.6em;
}

.card__thumbnail img {
    width: 100%;
    margin: auto;
}

.card h2 {
    text-align: center;
}

.card h3 {
    text-align: center;
}

#our-team h1 img {
    max-width: 50%;
    margin: auto;
}

#our-team h2 {
    text-align: center;
}

.contact-logos {
    width: 50px;
}

.photo {
    box-shadow:0 5px 8px #555;
    transition: 0.3s;
    background-color: white;
}
button.btn-sty {
    display: inline-block;
    background-color: rgb(231, 226, 220); 
    border-radius: 5px;
    border: 2px double rgb(128, 126, 122);
    color: rgb(158, 156, 152);
    text-align: center;
    font-size: 1em;
    padding: 2px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1px;
  }

@media (min-width: 826px){
    .parent {
        grid-template-columns: 1fr 2fr;
    }
}

@media (max-width:480px){
    h1 img {
        max-width:100%;
    }

    #our-team h1 img {
        max-width: 90%;
        margin: auto;
        text-align: center;
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: right;
        }

    .image-box {
        width: 50%;
        height: 50%
    }

    .grid {
        display: grid;
        width:100%;
        grid-template-columns: 30% 50%;
    }

    .photo-box img.truck {
        /* multiple width by 0.6442 to get proper ratio*/
        height: 54.76%;
        min-height: 85%;
    }

    blockquote {
        margin-left: 0px;
    }

    .centre {
        width: 90%;
        padding: 10px;
    }

    .card__thumbnail img {
        width: 100%;
    }

    .submark-left-small {
        float: none;
        margin: auto;
        display: block;
    }
}

